#!/usr/bin/env bash

set -eu -o pipefail

# TODO: set this
BACKUP_NAME="testing"

sudo -u {{ postgres_s3_backup_pg_dumpall_user }} pg_dumpall \
    | gzip \
    | {{ postgres_s3_backup_mc_location }} -C {{ postgres_s3_backup_mc_configuration_location | dirname }} pipe "{{ postgres_s3_backup_s3_location }}${BACKUP_NAME}"
